
WeightedString/.vs/WeightedString/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
WeightedString/bin/Debug/netcoreapp3.1/WeightedString.deps.json
WeightedString/bin/Debug/netcoreapp3.1/WeightedString.dll
WeightedString/bin/Debug/netcoreapp3.1/WeightedString.exe
WeightedString/bin/Debug/netcoreapp3.1/WeightedString.pdb
WeightedString/bin/Debug/netcoreapp3.1/WeightedString.runtimeconfig.dev.json
WeightedString/bin/Debug/netcoreapp3.1/WeightedString.runtimeconfig.json
WeightedString/obj/Debug/netcoreapp3.1/WeightedString.AssemblyInfo.cs
WeightedString/obj/Debug/netcoreapp3.1/WeightedString.AssemblyInfoInputs.cache
WeightedString/obj/Debug/netcoreapp3.1/WeightedString.assets.cache
WeightedString/obj/Debug/netcoreapp3.1/WeightedString.csproj.FileListAbsolute.txt
WeightedString/obj/Debug/netcoreapp3.1/WeightedString.csprojAssemblyReference.cache
WeightedString/obj/Debug/netcoreapp3.1/WeightedString.dll
WeightedString/obj/Debug/netcoreapp3.1/WeightedString.exe
WeightedString/obj/Debug/netcoreapp3.1/WeightedString.pdb
WeightedString/obj/project.assets.json
WeightedString/obj/WeightedString.csproj.nuget.cache
WeightedString/obj/WeightedString.csproj.nuget.g.targets
WeightedString/obj/WeightedString.csproj.nuget.g.props
WeightedString/obj/WeightedString.csproj.nuget.dgspec.json
WeightedString/.vs/WeightedString/DesignTimeBuild/.dtbcache
MovieCount/obj/project.assets.json
MovieCount/obj/MovieCount.csproj.nuget.g.targets
MovieCount/obj/MovieCount.csproj.nuget.g.props
MovieCount/obj/MovieCount.csproj.nuget.dgspec.json
MovieCount/obj/MovieCount.csproj.nuget.cache
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.pdb
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.exe
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.dll
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.csprojAssemblyReference.cache
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.csproj.FileListAbsolute.txt
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.csproj.CopyComplete
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.assets.cache
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.AssemblyInfoInputs.cache
MovieCount/obj/Debug/netcoreapp3.1/MovieCount.AssemblyInfo.cs
MovieCount/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
MovieCount/bin/Debug/netcoreapp3.1/MovieCount.runtimeconfig.json
MovieCount/bin/Debug/netcoreapp3.1/MovieCount.runtimeconfig.dev.json
MovieCount/bin/Debug/netcoreapp3.1/MovieCount.pdb
MovieCount/bin/Debug/netcoreapp3.1/MovieCount.exe
MovieCount/bin/Debug/netcoreapp3.1/MovieCount.dll
MovieCount/bin/Debug/netcoreapp3.1/MovieCount.deps.json
MovieCount/.vs/MovieCount/v16/.suo
ClusterQuality/obj/project.assets.json
ClusterQuality/obj/Debug/netcoreapp3.1/ClusterQuality.pdb
ClusterQuality/obj/Debug/netcoreapp3.1/ClusterQuality.exe
ClusterQuality/obj/Debug/netcoreapp3.1/ClusterQuality.dll
ClusterQuality/obj/Debug/netcoreapp3.1/ClusterQuality.csprojAssemblyReference.cache
ClusterQuality/obj/Debug/netcoreapp3.1/ClusterQuality.csproj.FileListAbsolute.txt
ClusterQuality/obj/Debug/netcoreapp3.1/ClusterQuality.assets.cache
ClusterQuality/obj/Debug/netcoreapp3.1/ClusterQuality.AssemblyInfoInputs.cache
ClusterQuality/obj/Debug/netcoreapp3.1/ClusterQuality.AssemblyInfo.cs
ClusterQuality/obj/ClusterQuality.csproj.nuget.g.targets
ClusterQuality/obj/ClusterQuality.csproj.nuget.g.props
ClusterQuality/obj/ClusterQuality.csproj.nuget.dgspec.json
ClusterQuality/obj/ClusterQuality.csproj.nuget.cache
ClusterQuality/bin/Debug/netcoreapp3.1/ClusterQuality.runtimeconfig.json
ClusterQuality/bin/Debug/netcoreapp3.1/ClusterQuality.runtimeconfig.dev.json
ClusterQuality/bin/Debug/netcoreapp3.1/ClusterQuality.pdb
ClusterQuality/bin/Debug/netcoreapp3.1/ClusterQuality.exe
ClusterQuality/bin/Debug/netcoreapp3.1/ClusterQuality.dll
ClusterQuality/bin/Debug/netcoreapp3.1/ClusterQuality.deps.json
ClusterQuality/.vs/ClusterQuality/v16/.suo
